version: '3.8'

services:

  php:
    build: ./database   # Use PHP Dockerfile from ./database
    container_name: php
    restart: always
    ports:
      - "8888:80"
    volumes:
      - ./database/php:/var/www/html
      - ./database/apache/000-default.conf:/etc/apache2/sites-available/000-default.conf
    depends_on:
      database:
        condition: service_healthy

  database:
    image: mysql:8.0
    container_name: database
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: mydb
      MYSQL_USER: test
      MYSQL_PASSWORD: test
    volumes:
      - db_data:/var/lib/mysql
      - ./database/sql:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 10s
      retries: 5

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "4200:4200"
    volumes:
      - ./frontend:/app
      - ./frontend/node_modules:/usr/src/app/node_modules
    command: npm dock  --poll=2000
    environment:  
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true 
    depends_on:
      database:
        condition: service_healthy

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
    environment:
      DATABASE_URL: mysql://test:test@database:3306/mydb
    depends_on:
      database:
        condition: service_healthy

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    links:
      - database
    ports:
      - "8081:80"
    environment:
      PMA_HOST: database
      PMA_USER: test
      PMA_PASSWORD: test
    depends_on:
      database:
        condition: service_healthy

  prisma-studio:
    links:
      - database
    depends_on:
      - database
    container_name: prisma-studio
    ports:
      - '5555:5555'
    build:
      context: ./backend/Docker
    environment:
      - DATABASE_URL=mysql://test:test@database:3306/mydb  
    volumes:
      - ./backend/prisma:/app/prisma


volumes:
  db_data:
    driver: local
  node_modules: