/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap");

* {
  box-sizing: border-box;
  font-family: "Noto Sans Thai", serif;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #203864;
  padding: 5px 70px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbar2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 5px 10px;
  margin: 0 60px;
  color: black;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 15px;
  font-weight: bold;
}
/* .logo2 {
    width: 10px;
    height: 10px;
} */

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}
.nav-links2 li {
  display: inline;
}
.nav-links2 {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links2 a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #f4a261;
}

/* Mobile Menu */
.menu-icon {
  font-size: 24px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #444;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}
/* navbar */

.fcontent {
  border-bottom: 2px solid #fff;
  color: #f79b5b;
}
